* {
    --c1: #f2f2f2;
    --c2:#e0e0e0;
    --c3: #ccc;
    --c4: #b8b8b8;
    --c6: #8f8f8f;
    --c10: #3d3d3d;
    --c12: #141414;
    --white:#fff;
    --black:#000;
    --gradiente: linear-gradient(180deg, rgba(133,204,243,1) 0%, rgba(58,113,192,1) 100%);
    --blue1:#5d90db;
    --blue2:#85ccf3;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

h1,p,h2,h3,h4,h5,ul,li,body{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    padding: 10px 20px;
}

.max {    
    max-width: 1200px;   
}

header {    
    margin: 40px auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 10px;
} 

nav a{
    font-weight: bold;
    color: var(--c12);    
}

nav a:hover {
    border-bottom: 2px solid var(--blue1);
    background-color: red;
    transition: 0.25s ;
}

.container {    
    margin: 0 auto;
}

.introducao {
    display: grid;
    grid-template-columns: auto 1fr;
}

.perfil {
    height: 520px;
    max-width: 360px;
}

.introducao .info {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* ## DETALHE */
.introducao .info h1{
    position: relative;
}

.introducao .info h1::after {
    content: '';
    height: 120px;
    width: 20px;
    background-color: var(--blue1);
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
}
.introducao .info h1::before {
    content: '';
    height: 120px;
    width: 20px;
    background-color: var(--blue2);
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left: 28px;
    z-index: -1;
}
/* ----- */
.introducao h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 30px;
}

.introducao p {
    font-size: 20px;
}

.experiencia {
    display: grid;
    grid-template-columns: minmax(350px, 400px) auto;
    padding: 120px 0;
}
.experiencia h1{    
    /* max-width: 350px;  */
    line-height: 144px; 
    font-size: 144px;
    color: var(--c3);
    text-transform: uppercase;    
    word-break: break-all; 
}

.experiencia .info {
    display: grid;
    gap: 60px;    
    margin-left: 120px;
}

.experiencia .info > p {
    font-size: 24px;
    max-width: 450px;
    font-size: 20px;
}

.experiencia .cards {
    display: grid;
    gap: 20px;
}

.experiencia .cards > li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: var(--c1);
    border: solid 1px var(--c);
    border-radius: 5px;
    padding: 20px;
    gap: 100px;
}


.experiencia .data {
    position: absolute;
    text-align: right;
    width: 80px;
    right: calc(100% + 60px);
    top: 27px;
}

.experiencia .cards > li::after {
    content: "";
    background: var(--gradiente);
    padding: 20px 4px;
    position: absolute;
    top: 23px;
    left: -9px;
}
 
.experiencia .tags {    
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.experiencia .tags li{
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
}

.bg {
    background-color: var(--c12);
}

.formacao {
    display: grid;
    grid-template-columns: minmax(350px, 400px) auto;
    padding: 120px 0;
}

.formacao h1{    
    /* max-width: 350px;  */
    line-height: 144px; 
    font-size: 144px;
    text-transform: uppercase;    
    word-break: break-all; 
}

.formacao .info {
    display: grid;
    gap: 60px;    
    margin-left: 120px;    
    color:var(--c6);
}

.formacao strong {
    color:var(--white);
}

.formacao .info > p {
    font-size: 24px;
    max-width: 450px;
}

.formacao .academico {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.formacao .academico > li {
    background-color: var(--black);
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px;
    /* align-items: center; */
} 

.academico h5 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}

.academico :is(h4,h3) {
    font-size: 18px;
}

.academico h3 {
    color: var(--white);
}

.academico li > h4 {
    grid-row: 4;
}

.academico-items > h3{
    text-transform: uppercase;
    padding: 20px 0;
}

.academico-items .cursos > li{
    display: flex;
    justify-content: space-between;
}

.academico-items li{
    margin: 20px 0;
    color: var(--white);
    font-weight: 600;
}

.academico-items span {
    color: var(--c6);
}

.rodape {
    background-color: var(--black);
    color: var(--white);
    padding: 120px 0;
}

.rodape li {
    font-size: 36px;
    color: var(--white);
    line-height: 40px;
    margin: 40px 0;
}

.rodape p {
    font-size: 24px;
    color: var(--c6);
}

.rodape .item{
    display: grid;
    gap: 100px;
}

.rodape .item > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center
}

.rodape .descricao {
    grid-column: 1;
    grid-row: 1;
    width: 500px;
}

.rodape .direitos {
    font-size: 18px;
}