@import './global.css';
@import './header.css';

.introducao {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 80px 0;
    gap: 20px;
}

.perfil {
    height: 520px;
    max-width: 360px;

    & img{
        height: 100%;        
        object-fit: cover;

        @media (max-width: 1000px) {
            display: none;
        }
    }
}

.introducao .info {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* ## DETALHE */
.introducao .info h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 30px;
    position: relative;
    
    &::after {
        content: '';
        height: 120px;
        width: 20px;
        background-color: var(--blue1);
        transform: rotate(45deg);
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
    }

    &::before {
        content: '';
        height: 120px;
        width: 20px;
        background-color: var(--blue2);
        transform: rotate(45deg);
        position: absolute;
        top: -20px;
        left: 28px;
        z-index: -1;
    }
}

/* ----- */

.introducao p {
    font-size: 20px;
}

.experiencia {
    display: grid;
    grid-template-columns: minmax(350px, 400px) auto;
    padding: 120px 0;

    & h1{    
        line-height: 144px; 
        font-size: 144px;
        color: var(--c3);
        text-transform: uppercase;    
        word-break: break-all; 
    }

    @media (max-width: 1000px) {
        padding-top: 0;
        grid-template-columns: 1fr;
        gap: 40px;

        & h1{
            text-align: center;    
            font-size: 7rem;
        }
    }
}

.experiencia .info {
    display: grid;
    gap: 60px;    
    margin-left: 120px;

    > p {
        font-size: 24px;
        max-width: 450px;
        font-weight: 400;
        color: var(--c10);
    }
}

.experiencia .cards {
    display: grid;
    gap: 20px;

    & h2{
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 10px;
    }

    & p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    > li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        background-color: var(--c1);
        border: solid 1px var(--c3);
        border-radius: 5px;
        padding: 20px;
        gap: 100px;
    }

    .data {
        position: absolute;
        text-align: right;
        width: 80px;
        right: calc(100% + 60px);
        top: 27px;
    }

    > li::after {
        content: "";
        background: var(--gradiente);
        padding: 10px 2px;
        position: absolute;
        top: 28px;
        left: -4px;
    }
    
    .tags {    
        margin-top: 10px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        & li{
            background-color: var(--white);
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}

.bg {
    background-color: var(--c12);
}

.formacao {
    display: grid;
    grid-template-columns: minmax(350px, 400px) auto;
    padding: 120px 40px;

    & h1{    
        line-height: 144px; 
        font-size: 144px;
        text-transform: uppercase;    
        word-break: break-all; 
    }

    & strong {
        color:var(--white);
    }
}

.formacao .info {
    display: grid;
    gap: 60px;    
    margin-left: 120px;    
    color:var(--c6);

    > p {
        font-size: 24px;
        max-width: 450px;
    }
}


.formacao .academico {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    > li {
        background-color: var(--black);
        padding: 20px;
        border-radius: 5px;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        gap: 20px;
        position: relative;

        &::after {
            content: "";
            background: var(--gradiente);
            padding: 10px 2px;
            position: absolute;
            top: 62px;
            left: -4px;
        }

        > h4 {
            grid-row: 4;
        }
    } 

    & h5 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
    }

    &:is(h4,h3) {
        font-size: 18px;
    }

    & h3 {
        color: var(--white);
    }
}

.academico-items {    
    position: relative;

    > h3{
        text-transform: uppercase;
        padding: 20px 0;
    }

    & img{
        /* seria bom um svg */
        position: absolute;
        top: 22px;
        left: -60px;
    }

    .cursos > li{
        display: flex;
        justify-content: space-between;
    }

    & li{
        margin: 20px 0;
        color: var(--white);
        font-weight: 600;
    }

    & span {
        color: var(--c6);
    }
}

.rodape {
    background-color: var(--black);
    color: var(--white);
    padding: 120px 0;
    position: relative;

    & li {
        font-size: 36px;
        color: var(--white);
        line-height: 40px;
        margin: 40px 0;
    }

    & p {
        font-size: 24px;
        color: var(--c6);
    }
}

.rodape .item{
    display: grid;
    gap: 100px;

    > div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        align-items: center
    }
    /* ## DETALHE */
    &::after {
        content: '';
        height: 120px;
        width: 20px;
        background-color: var(--blue1);
        transform: rotate(45deg);
        position: absolute;
        top: -60px;
        left: 80px;
    }

    &::before {
        content: '';
        height: 120px;
        width: 20px;
        background-color: var(--blue2);
        transform: rotate(45deg);
        position: absolute;
        top: -60px;
        left: 108px;
    }    
    /* ----- */
}

.rodape .descricao {
    grid-column: 1;
    grid-row: 1;
    width: 500px;
}

.rodape .direitos {
    font-size: 18px;
}

